@import '@angular/material/prebuilt-themes/deeppurple-amber.css';



button {
    border-radius: 0 !important;
}


mat-grid-tile {
    border: 1px solid #eee;
}

.btn-remove {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    width: 15px;
    height: auto;
    text-align: center;

}

.droparea {
    height: 120px;
    width: 300px;
    display: table;
    background-color: white;
    border: dashed 1px #aaa;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

.drop-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

.browse-btn {
    color: blue;
    cursor: pointer;
}