@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

button {
    border-radius: 0 !important;
}

.themed-text {
    font-family: var(--mat-typography-font-family, 'Roboto', sans-serif);
    font-size: 24px;
}


body,
html {
    height: 100%;
    margin: 0;
}

.full-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    /* Pushes the card down */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    /* Adjust to match your header height */
}

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    min-height: 64px;
    /* Ensures header has a consistent height */
}