@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* @use '@angular/material' as mat; */



.mat-toolbar button {
    border-radius: 0 !important;
}

.space_login {
    flex: 1 1 auto;
}

/* :root {
    @include mat.toolbar-overrides((
      container-background-color: orange,
      container-text-color: red,
    ));
  } */