<mat-toolbar color="primary" class="roboto-toolbar">
  <span>SareeKala</span>
  <button mat-raised-button color="primary" routerLink="/home">
    Home
  </button>
  <button mat-raised-button color="primary" routerLink="/products">
    Artwork
  </button>
  <button mat-raised-button color="primary" routerLink="/about">
    Our Story
  </button>
  <button mat-raised-button color="primary" routerLink="/admin" *ngIf="userService.roleMatch(['Admin'])">
    Admin
  </button>
  <button mat-raised-button color="primary" routerLink="/user" *ngIf="userService.roleMatch(['User'])">
    User
  </button>
  <span class="space_login"></span>
  <button mat-raised-button color="primary" *ngIf="! isLoggedIn()" routerLink="/login">
    Login
  </button>
  <button mat-raised-button color="warn" *ngIf="isLoggedIn()" (click)="logout()">
    Logout
  </button>
</mat-toolbar>


<mat-toolbar *ngIf="isLoggedIn()">
  <button *ngIf="isAdmin()" mat-flat-button color="accent" routerLink="/addProduct">Add Product</button>
  <button *ngIf="isAdmin()" mat-flat-button color="accent" routerLink="/showProduct">Show Product</button>
  <button *ngIf="isUser()" mat-flat-button color="primary">Orders</button>
  <button *ngIf="isUser()" mat-flat-button color="primary">Account</button>
  <button *ngIf="isUser()" mat-flat-button color="primary">Cart</button>
</mat-toolbar>
