<div class="container mt-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <mat-grid-list cols="1" rowHeight="1:1" gutterSize="8px">
          <mat-grid-tile *ngFor="let file of product.productImages">
            <div class="product-image-container">
              <img class="product-grid-image" [src]="file.url" alt="Product Image">
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="col-md-6">
        <div class="product-information p-4">
          <h2 class="product-title mb-3">{{ product.productName }}</h2>
          <p class="product-description mb-4">{{ product.productDesc }}</p>
          <h4 class="product-price text-muted">${{ product.productPrice }}</h4>
          <button type="button" mat-raised-button class="btn-add-to-cart" (click)="buyProduct(product.productId)">ADD TO CART</button>
        </div>
      </div>
    </div>
  </div>  